$primary-color: #5B7894;
$text-background: white;
$font: "Quicksand",
sans-serif;
$border-font: #359567;
$background: #C4EB67;



@mixin transition($value) {
  transition: $value;
}

@mixin gridDisplay($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin borderStyling($border, $radius, $shadow) {
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
}