$primary-color: #5B7894;
$text-background: white;
$font: "Quicksand",
sans-serif;
$border-font: #359567;
$background: #C4EB67;



@mixin transition($value) {
    transition: $value;
 }

 @mixin gridDisplay($columns, $rows) {
   display: grid;
   grid-template-columns: $columns;
   grid-template-rows: $rows;
 }

 @mixin flexDisplay($direction, $justify) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   //width
   //align-items
  //  padding: ;
  //  width: ;
 }

 @mixin borderStyling($border, $radius, $shadow) {
   border: $border;
   border-radius: $radius;
   box-shadow: $shadow;
 }

body {
  background-color: $primary-color;
  @include gridDisplay(1fr 5fr, none);
  // display: grid;
  font-family: $font;
  // grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  color: $text-background;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $border-font;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  @include transition(.8s ease)
  
}

h4 {
  color: $border-font;
  background-color: $background;
  border-radius: 3px;
  font-size: smaller;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  width: max-content;
}


/* HEADER */
header {
  // display: flex;
  // flex-direction: row;
  @include flexDisplay(row, none);
  grid-area: header;
  // padding: 0% 0%;
  // width: 100%;
}

span {
  color: $background;
  font-weight: 400;
}

.header-apple-icon {
  // height: .7em;
  margin-left: 1.1%;
  width: .7em;
}

#search {
  @include borderStyling(.2em outset $background, 15px 15px 15px 15px, 0px 0px 7px 0px #475d74);
  // border-radius: 15px 15px 15px 15px;
  // border: 3px outset $background;
  // box-shadow: 0px 0px 7px 0px #475d74;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  @include flexDisplay(row, center);
  font-family: $font;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
}

#search-input {
  background-color: #b6dcca;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  @include borderStyling(none, 10px 0px 0px 10px, inset -3px -1px 20px 1px #5c7894);
  // border-radius: 10px 0px 0px 10px;
  // border: none;
  // box-shadow: inset -3px -1px 20px 1px #5c7894;
  color: $primary-color;
  font-family: $font;
  font-size: 42px;
  height: 100%;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  @include transition(.8s ease);
  width: 100%;

  &:hover {
    box-shadow: inset 0px 0px 0px 0px $text-background;
    @include transition(.8s ease);
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 0px $text-background;
    font-size: 0px;
  }

  &::placeholder {
    color: $primary-color;
    font-size: 20px;
    text-align: right;
    text-shadow: none;
  }

  &:focus::placeholder {
    font-size: 0px;
    @include transition(.8s ease);
  }
}

.search-label {
  display: none;
}

.search-btn {
  border-left: 3px outset $background;
  border-radius: 0px 15px 15px 0px;
  padding: 1%;
}

.nav-btn {
  @include flexDisplay(column, center);
  align-items: center;
  background:$primary-color no-repeat;
  border: none;
  cursor: pointer;
  // display: flex;
  // flex-direction: column;
  font-size: 0px;
  font-weight: 700;
  // justify-content: center;
  // margin: 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  @include transition(.4s ease);
  width: 15%;

  &:hover {
  color: $background;
  font-size: 14px;
  text-shadow: 0px 2px 4px black;
  @include transition(.4s ease);
}

  img {
  max-height: 40px;
  max-width: 40px;
  padding: 2px 0px;
}

}

.saved-ingredients-btn {
  border-left: 3px solid $background;
}

.ing-pan-btn {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}


/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 9em;
  overflow: hidden;
  width: 100%;
}

.my-recipes-banner {
  text-align: center;
  width: 95%;
  display: none;
  margin-top: 1%;

    h1 {
      color: $text-background;
      width: 100%;
    }
}

.welcome-msg {
  text-align: center;
  width: 95%;
  margin-top: 3%;

    h1 {
      color: $text-background;
      width: 100%;
    }
}

/* FILTER SIDEBAR */
aside {
  background-color: $text-background;
  @include flexDisplay(row, center);
  // display: flex;
  // justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: $text-background;;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
}

li {
  margin: 2px;
}


/* RECIPE CARD SECTION */
main {
  @include flexDisplay(row, center);
  grid-area: main;
  // display: flex;
  // justify-content: center;
  // align-content: flex-start;
  // flex-direction: row;
  flex-wrap: wrap;
}

.title-container {
  // display: grid;
  align-self: center;
  grid-area: title;
  text-align: center;
  margin-bottom: 13%;
}

.recipe-card {
  @include gridDisplay(2fr 1fr, 1fr 1fr 1fr);
  // display: grid;
  // grid-gap: 1%;
  // justify-content: space-evenly;
  // grid-template-columns: 2fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "title title"
  "food food"
  "tags apple";
  background-color: $text-background;
  @include borderStyling(2px solid $background, 7px, none);
  // border: 2px solid $background;
  // border-radius: 7px;
  cursor: pointer;
  height: 18em;
  margin: 2%;
  // margin: 20px;
  // padding: 15px;
  padding: 1.5%;
  // width: 250px;
  width: 15em;

  &:hover .card-photo-preview {
    opacity: 50%;
    @include transition(.8s ease);
  }

  &:hover .text {
  font-size: 20px;
  opacity: 100%;
  @include transition(.5s ease);
  width: 100%;
}

  &:hover h3 {
  text-shadow: 0px 0px 4px $background;
  @include transition(.8s ease);
}
}

.tags {
  @include gridDisplay(1fr 1fr, 1fr 1fr);
  // display: grid;
  grid-area: tags;
  align-items: center;
  justify-content: space-between;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  width: 100%;
  overflow: auto;
}

.apple-container {
  align-items: center;
  justify-items: flex-end;
  display: inline-grid;
  grid-area: apple;
 
}

.card-apple-icon {
  cursor: pointer;
  height: 3em;
  width: 3em;
}

.card-photo-preview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3%;
  cursor: pointer;
  height: 130px;
  @include transition(.8s ease);
  width: 100%;
}

.card-photo-container {
  grid-area: food;
  align-items: center;
  display: flex;
  height: 80%;
  position: relative;
}

.text {
  background: $border-font;
  color: $text-background;;
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 0%;
  @include transition(.5s ease);
}


/* BUTTONS */
.filter-btn {
  background-color: $border-font;
  @include borderStyling(0, 3%, none);
  // border: 0;
  // border-radius: 3%;
  color: $text-background;
  cursor: pointer;
  font-family: $font;
  font-size: 12pt;
  font-weight: bold;
  // padding: 2px 4px 2px 4px;
  padding: 1% 2% 1% 2%;

    &:hover {
    background-color: #84C8A4;
    }

}

  .show-pantry-recipes-btn {
    @extend .filter-btn;
    margin-top: 5%;
  }

  .show-all-btn {
    @extend .filter-btn;
    height: 2.5em;
    margin-top: 1%;
    // width: 15%;
  }

/* PANTRY LIST */
.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 65%;
  margin-left: 81%;
  margin-top: 7%;
  overflow: scroll;
  padding: 1%;
  position: absolute;
  text-align: center;
  width: 18%;
  z-index: 3;

  h2 {
    color: $border-font;
    margin: 0%;
  }
}

.pantry-list {
  color: #000000;
  padding-left: 10%;
  text-align: left;
}


/* RECIPE INSTRUCTIONS */
.recipe-instructions {
  background: $text-background;
  @include borderStyling(3px solid $background, 1%, 1px 1px 115px black);
  // border: 3px solid $background;
  // border-radius: 1%;
  // box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;

  h4 {
    background: $text-background;
    color: $border-font;
  }

  p {
    margin-left: 2%;
  }

  ol {
    margin-right: 2%;
  }
}

#exit-recipe-btn {
  background: $text-background;
  @include borderStyling(2px double $border-font, 2%, none);
  // border: 2px double $border-font;
  // border-radius: 2%;
  color: $border-font;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: -4% -3% 2% -1%;
  position: fixed;
  @include transition(.3s ease);

  &:hover {
    background: $background;
    @include transition(.3s ease);
  }
}

#recipe-title {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: $text-background;
  font-size: 2em;
  margin: 0;
  padding: 5%;
  text-align: center;
  text-shadow: 0px 0px 6px black;
}

#overlay {
  filter:alpha(opacity=50);
  background-color:$primary-color;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}